@import "src/Components/UI/variables";

.counter {
  border: 1px solid $green;
  border-radius: 8px;

  display: flex;
  //grid-template-columns: 1fr 1fr 1fr;

  font-size: 1em;

  * {
    padding: 0.4em 0.2em;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button{
    @extend %defaultButton;
  }

  span{
    border-left: 1px solid $green;
    border-right: 1px solid $green;
  }
}
